#backgroundVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}
#Nav-Bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#Nav-Bar ul li {
    float: right;
}
#Nav-Bar ul li:last-child {
    float: left;
    color: white;
    font-size: 32px;
    font-family: Apple Chancery, cursive;
}
#Nav-Bar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#Nav-Bar ul li a:hover {
    background-color: #111;
}
